// 1 rem = 10px
$font-size-base: 62.5%;
$font-size-small: 1.6rem;
$font-size-default: 2rem;
$font-size-large: 2.4rem;

$font-primary-color: #1b1b1b;

html {
  font-size: calc(#{$font-size-base} + 2 * (100vw - 600px) / (1800 - 600));
}
